@import url('https://fonts.googleapis.com/css2?family=Abel&family=Barlow+Condensed:wght@100&family=Dosis&family=JetBrains+Mono:wght@100&family=M+PLUS+1:wght@100;400&family=M+PLUS+2:wght@500&family=Oxygen&family=Padauk&family=Questrial&family=Quicksand:wght@300&family=Roboto:wght@100&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: montserrat;
  /* width: 100%;
  height: 100vh; */
}

nav {
  background: #ffffff;
  height: 80px;
  width: 100%;
}

label.logo {
  line-height: 130px;
  padding: 0 100px;
}

.logo img {
  width: 8rem;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 105px;
  margin: 0 5px;
}

nav ul li a {
  color: rgb(2, 1, 1);
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: #d10909;
  color: #ffffff;
  transition: 0.5s;
}

.sub-menu {
  display: none;
}

.second ul li:hover .sub-menu {
  display: block;
  position: absolute;
}

.sub-menu a {
  font-size: 2vh;
}

.checkbtn {
  font-size: 30px;
  color: rgb(0, 0, 0);
  float: right;
  line-height: 115px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.dropbtn {
  color: #000000;
  transition: 0.5s;
  border-radius: 3px;
  padding: 7px 13px;
  background-color: #ffffff;
  padding: 9px;
  font-size: 16px;
  border: none;
  text-transform: uppercase;
}

.dropbtn:hover {
  color: white;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(41, 40, 40, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ff0000;
  color: rgb(255, 255, 255);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #d10909;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .top {
    padding: 0 8px;
    width: 100%;
    background-color: rgb(170, 167, 167);
    color: rgb(0, 0, 0);
    height: 90px;
    cursor: pointer;
  }
  .flex {
    display: flex;
    justify-content: spa;
    align-items: center;
  }
  .left > div + div {
    margin-left: 10px;
  }
  .checkbtn {
    display: block;
  }
  .dropbtn {
    background: none;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #d10909;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #f3f8fc;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
